/* src/pages/IntroIeum.css */

.intro-page-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 100px; /* 로고와 텍스트 사이 간격 */
}

/* 첫 번째 섹션 (하얀색 배경) */
.first-section {
  background-color: #fff;
}

.first-section .section-content {
    flex-direction: column;
    text-align: center;
    gap: 20px; /* 로고와 텍스트 간의 세로 간격 조정 */
}

.first-section .section-logo-img {
    height: 120px;
    margin-bottom: 0; /* 기존 마진 제거 */
}

.first-section .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.first-section p {
    font-size: 1.2rem;
    color: #555;
}

/* 두 번째 섹션 (연보라색 배경) */
.second-section {
  background-color: #DEE4FF; /* 연보라색 배경색 재확인 */
}

.second-section .section-content {
    justify-content: center;
    gap: 100px;
    text-align: left;
}

.second-section .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
}

.second-section .logo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-section .section-logo-img {
    width: auto;
    height: 200px;
}

.second-section .section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.second-section p {
    font-size: 1.2rem;
    color: #555;
}

.third-section {
  background-color: #000;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1.2rem;
  color: #555;
}