/* src/pages/MainPage.css */

.main-page-hero {
  width: 100%; /* 너비를 부모 컨테이너에 맞춰 100%로 설정 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  /* 배경 이미지 설정 */
  background-image: url('/main_hero_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #333;
  position: relative; /* 자식 요소의 위치 기준이 됩니다 */
  z-index: 1;
}

/* 텍스트와 버튼을 담을 컨테이너 */
.main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* 텍스트 컨테이너의 위치를 수동으로 조정 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 텍스트 스타일 */
.main-text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: bold;
}

.main-text-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* 버튼 스타일 */
.test-button {
  background-color: #6a5acd;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.test-button:hover {
  background-color: #5a4aa6;
}

.test-button .arrow {
  font-size: 1.2rem;
}