/* src/pages/MainPage.css */

.main-page-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #333333; /* 검은색 배경색을 직접 지정 */
  color: #fff;
  position: relative;
  z-index: 1;
}
.main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text-container h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  line-height: 1.4;
  font-weight: bold;
}
.main-text-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.test-button {
  background-color: #6a5acd;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}
.test-button:hover {
  background-color: #5a4aa6;
}
.test-button .arrow {
  font-size: 1.2rem;
}