    /* src/pages/MyPage.css */

.mypage-container {
  margin-top: 120px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.mypage-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.logout-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #5a4fff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #3b2dcc;
}
